* {
    margin: 0;
    padding: 0;
}
.ans-header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        height: 200px;
}
.centerContainer{
    margin-top: 200px;
}
/* for section 1 */
.ans-accessibility {
    text-align: center;
    padding: 8px 0;
}

/* for section 2 */

.ans-offersSec {
    background-color: rgb(52, 50, 50);
    color: white;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stores-sInsUp {
    display: flex;
}

.stores-sInsUp a {
    text-decoration: none;
    color: white;
}

.storesLink {
    margin-right: 30px;
}

/* section 3 */
.searchLogoCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
}

.searchLogoCart img {
    width: 250px;
}

.ans-logoBox {
    width: 400px;
}

.searchLogoCart input {
    border: none;
    border-bottom-style: groove;
}

/* for section 4 */
#ans-navbarBox{
    width: 100%;
}
 .ans-navList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 160px;
    padding: 10px 0;
    width: 100%;
    margin: auto;
}

.ans-navList>li {
    list-style-type: none;
    margin: 0 10px;
}

.ans-navList a {
    text-decoration: none;
    color: rgb(52, 50, 50);
}

/* for today-only container */
.todayOnlyContainer {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.todayOnlyContainer img {
    width: 680px;
}

.comboOffer-Container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* only for id comboOfferMiddleLine */
    margin: 10px 0;
}

.todayOnlyText p {
    margin: 8px 0;
}

/* .todayOnlyText h3{
        margin: 8px 0;
      } */
.comboOffer-span>h3+h3 {
    color: rgb(47, 148, 141);
}

.todayOnline-line {
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    border-color: rgb(47, 148, 141);
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

/* for today only container button */
.todayOnlyContainer-btn {
    border-style: none;
    background-color:rgb(51, 51, 51);;
    color: white;
    width: 145px;
    height: 32px;
    margin-top: 15px;
}

/* for line between cobbo offers in today only container*/
#comboOfferMiddleLine {
    height: 45px;
    width: 2px;
    background-color: black;
}

/* for mission container*/
.missionContainer {
    margin: auto;
    text-align: center;
    width: 75%;
    padding: 10px 0;
}

.missionContainerMain {
    background-color: rgb(239, 239, 239);
}

/* for center container images */
.centerContainerImages>img {
    width: 100%;
    margin-bottom: -25px;
}

/* for saleImgAndBtnsContainer  */
.saleImgAndBtnsContainer {
    margin: 40px 0;
    padding-bottom: 15px;
}

.saleImgAndBtnsContainer>img {
    width: 100%;
}

/* saleImgAndBtns */
.saleImgAndBtns {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.saleBtn {
    border-style: none;
    background-color: rgb(51, 51, 51);
    color: white;
    width: 145px;
    height: 38px;
    margin-bottom: 15px;
}

/* <!-- for BUY ONLINE, PICK UP IN-STORE  --> */
.buyOnlyPickupStore {
    text-align: center;
    background-color: rgb(205, 226, 221);
    padding: 15px 0;
}

.buyOnlyPickupStore>p {
    text-decoration: underline;
    margin-top: 5px;
}

/* for 3 images container with images and text starts here */
#ans3imageContainer {
    display: grid;
    grid-template-columns: 27% 27% 27%;
    gap: 35px;
    justify-content: center;
    text-align: center;
    margin: 70px 0;
}

#ans3imageContainer img {
    width: 100%;
    margin-bottom: 20px;
}

.textFor3imageContainer {
    margin: 19px 0;
    color: rgb(57, 51, 51);
}


/* for hover effects on black button */
.ans-black-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}





/* for responsiveness */
@media screen and (max-width: 820px) {
    
     /* ----------header starts here-------------- */
    .ans-accessibility{
        font-size: 14px;
        padding: 6px 0;
    }
    /* for section 2 */
    .rewardsonP{
        font-size: 14px;
    }
    .ans-viewOffers>h5{
        font-size: 11px;
    }
    .stores-sInsUp{
        font-size: 10px;
    }
    .ans-logoBox{
        margin-left: 50px;
    }
    /* for navbar */
    .ans-offersSec{
        background-color: #4295a5;
    }
    .ans-navList>li {
        list-style-type: none;
        margin: 6px 9px;
    }
    #locationSymbol-ans{
       display: none;
    }
    /* ----------header ends here-------------- */

    /* for todayonly containerwith 3 images and buy now text */
    .todayOnlyContainer {
        flex-direction: column;
    }

    .todayOnlyContainer img {
        width: 90%;
    }

    .todayOnlyText {
        margin: 30px 0;
        width: 85%;
    }

    .todayOnlyText>h3 {
        font-size: 25px;
    }

    .todayOnlyContainer-btn {
        width: 80%;
        background-color: rgb(51, 51, 51);
    }

    /* saleImgAndBtns */
    .saleImgAndBtns {
        flex-direction: column;
    }

    .saleImgAndBtns>.saleBtn {
        width: 90%;
        margin-left: 5%;
        height: 50px;
        margin-bottom: 0px;
    }

    /* for 3 image container with text */
    #ans3imageContainer {
        grid-template-columns: 80%;
    }

    .ans-3imageContainerDiv {
        margin: 7px;
    }
}

/* for smaller screen */
@media screen and (max-width: 430px) {
    /* for header */

    .ans-header{
        position: static;
        height: 30px;
    }

    .ans-logoBox>img{
        width: 150px;
    }
    .ans-searchBox{
        width: 50px;
    }
    .ans-searchBox input{
        width: 70px;
    }

    .rewardsonP{
        font-size: 8px;
    }
    .ans-viewOffers> h5{
        font-size: 7px;
    }
    .stores-sInsUp p{
        font-size: 8px;
    }


    /* headre ends here */
    .todayOnlyContainer img {
        width: 100%;
    }
    /* for mission container */
    .missionContainer>h2{
        font-size: 10px;
    }

   .saleBtn{
    margin-top: -10px;
   }


   .buyOnlyPickupStore{
    margin-top: -30px;
    margin-bottom: -40px;   }

    #ans3imageContainer{
        grid-template-columns: 90%;
    }



}