/* for upper */
.footer-section-container-upper img {
    width: 40px;
    margin-right: 20px;
}

.footer-section-container-upper {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 30px;
}

.footer-section-container-upper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for lower*/
.ans-footerLowerSection img {
    width: 20px;
}

.ans-footerLowerSection {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    justify-content: center;
    gap: 15px;
}

/* for last */
.ans-footer-lastSection {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-evenly;
    align-items: center;
}


footer a{
    text-decoration: none;
    color: black;
}


footer button{
width: 200px;
padding: 8px;
font-size: 15px;
font-weight: bold;
margin-top: 10px;
color: white;
line-height: 19px;
background-color: rgb(51,51,51);

}
footer button:hover{
cursor: pointer;
background-color: white;
color: black;
}
#signup img{
margin-top: 20px;
}

/* for medium screen */
@media screen and (max-width: 800px) {
    .footer-section-container-upper {
        grid-template-columns: 35% 35%;
    }

    .ans-footerLowerSection {
        grid-template-columns: 40% 40%;
        justify-content: space-around;
        margin-left: 80px;
    }
}

/* for small screen */
@media screen and (max-width: 500px){
    .footer-section-container-upper {
        grid-template-columns: 80%;
    }
    .ans-footerLowerSection {
        grid-template-columns: 80%;
        justify-content: space-around;
        margin-left: 80px;
    }
    .ans-footer-lastSection {
    font-size: 10px;
}
.termsAndConditions{
    font-size: 6px;
}

}